<h2>Por Pais</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input 
                type="text" 
                class="form-control"
                name="termino"
                [(ngModel)]="termino"
                placeholder="Burcar país..."
            />
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger" *ngIf="hayError">
    No se encontró la busqueda...
</div>
<div class="row" *ngIf="!hayError">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>bandera</td>
                    <td>nombre</td>
                    <td>123456</td>
                    <td><a href="#">Ver....</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>